In [1]:
#initialize packges
!pip install numpy
!pip install pandas
!pip install sklearn
!pip install seaborn
!pip install matplotlib

import numpy as np
import pandas as panda 

# data visualization
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style

# Algorithms
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB

Requirement already satisfied: numpy in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.20.3)
Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: sklearn in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.0)
Requirement already satisfied: scikit-learn in /srv/conda/envs/notebook/lib/python3.7/site-packages (from sklearn) (0.24.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.20.3)
Requirement already satisfied: scipy>=0.19.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.6.3)
Requirement already satisfied: joblib>=0.11 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: seaborn in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.11.1)
Requirement already satisfied: scipy>=1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.6.3)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.20.3)
Requirement already satisfied: matplotlib>=2.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (3.4.2)
Requirement already satisfied: pandas>=0.23 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2021.1)
Requirement already satisfied: matplotlib in /srv/conda/envs/notebook/lib/python3.7/site-packages (3.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: numpy>=1.16 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib) (1.20.3)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [2]:
#add usefull functions
def convertfloatfromtitanic(value):    
        try:
            return float(value)
        except (ValueError, TypeError):
            return float(str(value).replace('.','',1))
        return default

In [3]:
database = panda.read_csv("titanicdb.csv")  #read database shoult not have this valus changed
for_test = panda.read_csv("titanicdb.csv")  #obj that we will handle

In [4]:
for_test.info() #show databse information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id_passageiro             891 non-null    int64
 1   sobrevivente              891 non-null    object
 2   classe_da_passagem        891 non-null    int64
 3   nome_passageiro           891 non-null    object
 4   sexo                      891 non-null    object
 5   idade                     714 non-null    float64
 6   irmaos_ou_esposa_a_bordo  891 non-null    int64
 7   pais_filhos_a_bordo       891 non-null    int64
 8   numero_passagem           891 non-null    object
 9   valor_passagem            891 non-null    object
 10  id_cabine                 204 non-null    object
 11  local_de_embarque         889 non-null    object
dtypes: float64(1), int64(4), object(7)
memory usage: 83.7+ KB

In [5]:
total = for_test.isnull().sum().sort_values(ascending=False)
percent_1 = for_test.isnull().sum()/database.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = panda.concat([total, percent_2], axis=1, keys=['Total', '%'])
missing_data.head(12) #get null values percent in database ( missing data)

                          Total     %
id_cabine                   687  77.1
idade                       177  19.9
local_de_embarque             2   0.2
id_passageiro                 0   0.0
sobrevivente                  0   0.0
classe_da_passagem            0   0.0
nome_passageiro               0   0.0
sexo                          0   0.0
irmaos_ou_esposa_a_bordo      0   0.0
pais_filhos_a_bordo           0   0.0
numero_passagem               0   0.0
valor_passagem                0   0.0

In [6]:
for_test = for_test.drop(columns=['id_cabine', 'nome_passageiro','numero_passagem'])
database = database.drop(columns=['id_cabine', 'nome_passageiro','numero_passagem'])
#drop passenger id infos (eg. Name, id) 
#drop cabin('id_cabine') column as have more missing data than real info

In [7]:
data = [for_test, database]

for dataset in data:
    mean = for_test["idade"].mean()
    std = database["idade"].std()
    is_null = dataset["idade"].isnull().sum()
    # compute random numbers between the mean, std and is_null
    rand_age = np.random.randint(mean - std, mean + std, size = is_null)
    # fill NaN values in Age column with random values generated
    age_slice = dataset["idade"].copy()
    age_slice[np.isnan(age_slice)] = rand_age
    dataset["idade"] = age_slice
    dataset["idade"] = for_test["idade"].astype(int)
    for_test["idade"].isnull().sum()

In [8]:
data = [for_test, database]
gender = {"male" : 0, "female" : 1}

for dataset in data:
    dataset["sexo"] = dataset["sexo"].map(gender) #convert object gender to int64 to make things more easy

In [9]:
data = [for_test, database]

for dataset in data:
    dataset['Relatives']=dataset['pais_filhos_a_bordo'] + dataset['irmaos_ou_esposa_a_bordo']   
#join relationships columns('pais_filhos_a_bordo' and 'irmaos_ou_esposa_a_bordo') into an single column Relatives

In [10]:
data = [for_test, database]
survive = {'sim' : 1, 'nao' : 0}

for dataset in data:
    dataset['sobrevivente'] = dataset['sobrevivente'].map(survive) 
#convert object surviving('sobrevivente') to int64 to make things more easy to process

In [11]:
for_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id_passageiro             891 non-null    int64
 1   sobrevivente              891 non-null    int64
 2   classe_da_passagem        891 non-null    int64
 3   sexo                      891 non-null    int64
 4   idade                     891 non-null    int64
 5   irmaos_ou_esposa_a_bordo  891 non-null    int64
 6   pais_filhos_a_bordo       891 non-null    int64
 7   valor_passagem            891 non-null    object
 8   local_de_embarque         889 non-null    object
 9   Relatives                 891 non-null    int64
dtypes: int64(8), object(2)
memory usage: 69.7+ KB

In [12]:
for_test["local_de_embarque"].unique()
#get unique values from boarding

array(['S', 'C', 'Q', nan], dtype=object)

In [13]:
data = [for_test, database]
boarding = {'S' : 0, 'C' : 1,'Q' : 2, 'U' : 3}

for dataset in data:
    dataset['local_de_embarque'] = dataset['local_de_embarque'].fillna('U')
    dataset['local_de_embarque'] = dataset['local_de_embarque'].map(boarding) 
#convert object boarding('local_de_embarque') to int64 to make things more easy to process

In [14]:
data = [for_test, database]

for dataset in data: 
    dataset['valor_passagem'] = dataset['valor_passagem'].transform(func = lambda x : convertfloatfromtitanic(x)).astype(float)
 #convert object fare('valor_passagem') to float64 to make things more easy to process

In [15]:
for_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id_passageiro             891 non-null    int64
 1   sobrevivente              891 non-null    int64
 2   classe_da_passagem        891 non-null    int64
 3   sexo                      891 non-null    int64
 4   idade                     891 non-null    int64
 5   irmaos_ou_esposa_a_bordo  891 non-null    int64
 6   pais_filhos_a_bordo       891 non-null    int64
 7   valor_passagem            891 non-null    float64
 8   local_de_embarque         891 non-null    int64
 9   Relatives                 891 non-null    int64
dtypes: float64(1), int64(9)
memory usage: 69.7 KB

In [52]:
X_train = for_test.drop("sobrevivente", axis=1)
Y_train = for_test["sobrevivente"]
X_test  = database.drop("id_passageiro", axis=1).copy()

In [53]:
sgd = linear_model.SGDClassifier(max_iter=5, tol=None)
sgd.fit(X_train, Y_train)
Y_pred = sgd.predict(X_test)

sgd.score(X_train, Y_train)

acc_sgd = round(sgd.score(X_train, Y_train) * 100, 2)

In [54]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(X_train, Y_train)

Y_prediction = random_forest.predict(X_test)

random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)

In [55]:
gaussian = GaussianNB() 
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_test) 
acc_gaussian = round(gaussian.score(X_train, Y_train) * 100, 2)

In [56]:
perceptron = Perceptron(max_iter=50)
perceptron.fit(X_train, Y_train)

Y_pred = perceptron.predict(X_test)

acc_perceptron = round(perceptron.score(X_train, Y_train) * 100, 2)

In [57]:
decision_tree = DecisionTreeClassifier() 
decision_tree.fit(X_train, Y_train)
Y_pred = decision_tree.predict(X_test) 
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)

In [58]:
results = panda.DataFrame({
    'Model': ['Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 
              'Decision Tree'],
    'Score': [acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_decision_tree]})
result_df = results.sort_values(by='Score', ascending=False)
result_df = result_df.set_index('Score')
result_df.head(9)

                             Model
Score
100.00               Random Forest
100.00               Decision Tree
79.80                  Naive Bayes
39.73                   Perceptron
38.95   Stochastic Gradient Decent